<form action="/hotel/add" method="post">
    Name: <input type="text" name="name" required autofocus><br>
    Room stock: <input type="number" name="room_stock" required><br>
    Address: <input type="text" name="address" required><br>
    Price: <input type="number" name="price" required><br>
    <input type="submit" value="Add!">
</form>