
<form action="/hotel/add" method="post">
    Name: <input type="text" name="name" ><br>
    Room stock: <input type="number" name="room_stock"><br>
    Address: <input type="text" name="address" ><br>
    Price: <input type="number" name="price"><br>
    <input type="submit" value="Add!">
</form>