<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookMe</title>
</head>

<body>
    <a href="/book">Back</a> <br>
    <table border="1px" style="width: 100%;">
        <thead>
            <tr>
                <td>Name</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
            <tr>
                <td><%= el.name %> </td>
                <td><%= el.address %> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>